@model Tech_Tips.ViewModels.RandomBlogViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    This is a comments can do multiple lines!!!
*@

@{
    var className = Model.Articles.Count > 0 ? "text-primary" : null;
}

<h2 class="@className">@Model.Blog.Title</h2>
@if (Model.Articles.Count == 0)
{
    <text>There is no article related this blog!</text>
}
else
{
    <ul>
        @foreach (var article in Model.Articles)
        {
            <li>@article.Title</li>
        }
    </ul>
}
