@using Tech_Tips.Models
@model Tech_Tips.Models.Blog

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<h3>@(((Blog)ViewData["Blog"]).Title)​</h3>
<h3>@ViewBag.Blog.Title​</h3>
