@model IEnumerable<Tech_Tips.Models.Article>

@{
    ViewBag.Title = "Index | Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Article</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.Id })
            </td>
            <td>
                @item.Category.Name
            </td>
        </tr>
    }

</table>
