@model IEnumerable<Tech_Tips.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Category</h2>

<div>
    @Html.ActionLink("Create Category", "Create", "Categories", null, new { @class = "btn btn-default" })
</div>
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
